<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div id="sidebarCollapse">
            <i class="fa fa-bars fa-lg"></i>
        </div>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bank-justify fa-lg"></i>
        </button>
    </div>
    <div class="navbar-nav ml-auto">
        <a href="#" routerLink="/ntechlogin" (click)="ntechsignout()"><i class="fa fa-lock fa-lg"></i></a>
    </div>
</nav>