<div>
        <ntech-lable label={{inputLabel}} mandatory={{mandatorysymb}}></ntech-lable>
</div>
<div>
        <textarea class="form-control" type="text" [(ngModel)]="inputvalue" [disabled]="disabled" (blur)="onBlur()"
                (focus)="onFocus()" (keydown)="onKeyDown()" (keyup)="onKeyUp()" [placeholder]="placeholder"
                #refranceValue>
                    </textarea>
</div>





<!-- 
          <div class="form-group"><label>Mobile No.</label>
                  <div class="input-group" style="width: 99%;">
                  <input class="form-control" placeholder="" value="9442049945" type="text" >
                                  <span class="input-group-addon"><i class="fa fa-phone relative1"></i></span>
          </div> 
  -->