<div class="container">
    <div class="row">
    <div class="col-md-3">
      <div class="card-counter primary" (click)="callInbox()">
        <i class="fa fa-user"></i>
        <span class="count-numbers">12</span>
        <span class="count-name">Inbox</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger" (click)="callGroupmailbox()">
        <i class="fa fa-users"></i>
        <span class="count-numbers">599</span>
        <span class="count-name">GroupBox</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-ban"></i>
        <span class="count-numbers">**</span>
        <span class="count-name">**</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info">
        <i class="fa fa-ban"></i>
        <span class="count-numbers">**</span>
        <span class="count-name">**</span>
      </div>
    </div>
  </div>
</div>

