<div class="row">
        <div class="col-12">
                <ntech-lable label={{inputLabel}} mandatory={{mandatorysymb}}></ntech-lable>
        </div>
</div>
<div class="row">
        <div class="col-12">
               <input class="form-control"
                type="radio" [name]="name" [(ngModel)]="inputvalue" [disabled]="disabled" (blur)="onBlur()" (focus)="onFocus()"
                (keydown)="onKeyDown()" (keyup)="onKeyUp()" [placeholder]="placeholder" #refranceValue />
        </div>
</div>